/*
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
*/

@font-face {
  font-family: space-grotesk-light;
  src: url('./fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: space-grotesk-regular;
  src: url('./fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: space-grotesk-medium;
  src: url('./fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: space-grotesk-semibold;
  src: url('./fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: space-grotesk-bold;
  src: url('./fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf') format('truetype');
}

.light {
  border-radius: 6;
  border: 0.5px solid #3D9BE9;
}